.containerBusqueda{
    width: 330px;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
}

.icon{
    height: 40px;
    width: 40px;
}

.container-icon:hover > a > img{
    transform: scale(1.1);
}
.container-icon a > img{
    transition: .2s all;
}