<div class="containerBusqueda">
    <div class="icon-previous container-icon" (click)="edificioAnterior()">
        <a href="./home/{{edificio}}"><img src="../../../assets/iconSearch/left.png" alt="" class=icon></a>
    </div>

    <div class="icon-search container-icon">
        <img src="../../../assets//iconSearch/search.png" alt="" class=icon>
    </div>
    
    <div class="icon-next container-icon" (click)="edificioSiguiente()">
        <a href="./home/{{edificio}}"><img src="../../../assets//iconSearch/right.png" alt="" class=icon></a>
    </div> 
</div>
