<div class="principal-container-revisar" *ngIf="statusPrincipal">
    <nav class="container-nav">
        <app-navbar></app-navbar>
    </nav>
    
    <div class="containerEdicion">
        <div class="materia_info">
            <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/512/7204/7204859.png"> 
            </div>
        
          <div class="info">
            <h1 class="info h1">{{dataElementoEditar.horario}} {{dataElementoEditar.materia}}</h1>
            <p class="info p">{{dataElementoEditar.docente}}</p>
          </div>
        </div>
        
        <div class="photo_class">
            <img src="{{dataElementoEditar.fotografia.url}}">
            <div class="acercar" (click)="mostrarEnPantallaCompleta()">
                <img src="../../../assets//acercar.png" alt="">
            </div>
        </div>
        
        <div class="class_info">
           <div class="classroom">
                <div class="icon">
                    <img src="https://cdn-icons-png.flaticon.com/512/7204/7204859.png"> 
                </div>
        
                <div class="info">
                    <h2>Edificio {{dataElementoEditar.edificio}} - Aula {{dataElementoEditar.aula}}</h2>
                </div>
            </div>
            
            <div class="buttons">
                <button class="button button1"><a href="./home/{{edificio}}">Asistencia</a></button>
                <button class="button button2"><a href="./home/{{edificio}}">Falta</a></button>
            </div>
        </div>
    </div>
</div>


<div class="fotoPantallaCompleta" *ngIf="statusFotoPcompleta">
    <app-foto-pcompleta></app-foto-pcompleta>
</div>