/*! Estilos efra */
.containerEdicion{
    height: 94vh;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    gap:10px;
    background-color: #162226;
  }
  .materia_info{
    color:white;
    width:35%;
    height:50px;
    display: flex;
    position:relative;
    right:7.5%;
  }
  .icon{
    background-color:gray;
    width: 50px;
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center
  }
  .icon img{
    width: 100%;
  }
  .info{
    margin: 0px 5px;
    min-width: 400px;
    background: #DDD;
    color: #000;
  }
  .info h1{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .h1{
    font-size:25px;
  }

  .photo_class{
    background-color:#d3d3d3;
    display:flex;
    width:50%;
    height:65vh;
    justify-content:center;
    position: relative;
  }
  .photo_class > img{
    height: 100%;
    width: 100%;
  }
  .class_info{
    width:50%;
    height:50px;
    display:flex;
    justify-content: space-between;
  }

  .buttons {
    width:30%;
    display:flex;
    justify-content:space-evenly;

  }
  .classroom{
    color:white;
    min-width: 300px;
    display:flex;
  }
  .icon2{
    width:20%;
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;
    margin-right:10px;
  }

  .button {
    background-color: #4bae4f; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button1 {
    background-color: white;
    color: black;
    border-radius:15px;
    padding:16px 24px;
  }

  .button1:hover {
    background-color: #4bae4f;
    color: white;
  }

  .button2 {
    background-color: white;
    color: black;
    border-radius:15px;
  }

  .button2:hover {
    background-color: #b33b47;
    color: white;
  }

  .acercar{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 10px;
  }
  .acercar img{
    height: 100%;
  }
  .container-nav{
    height: 6vh;
}
.button a{
  text-decoration: none;
}

.fotoPantallaCompleta{
  height: 100vh;
}
