<div class="principal-container">
    <div class="container_classrooms" id="classrooms" *ngIf="statusContainerClassrooms">
        <div class="card" ngClass="{{item.analisis.asistencia}}" id="{{i}}" *ngFor="let item of dataFinal; let i = index">
            <div class="card-image">
                <div class="card-image_status">
                    <div class="status-block">
                        <img src="{{item.analisis.imgStatus}}" id="status" class="{{item.analisis.asistencia}}" alt="">
                    </div>
                </div>
                <img src={{item.fotografia.url}} alt="">
            </div>
            <div class="card-info">
                <div class="card-info_classroom">
                    <h3 class="">{{item.edificio+item.aula}}</h3>
                </div>
                <div class="card-info_teacher">
                    <span class="">{{item.docente}}</span>
                </div>
            </div>
        </div>
    </div>


    <div class="containerEdicion" *ngIf="statusContainerEdicion">
        <app-revisar></app-revisar>
    </div>
</div>
