<div class="principal-container">
    <form action="" class="container-login">
        <div class="container-login_logo-tec">
            <img src="../../../assets/itcuautla.png" alt="">
        </div>
        <h1 class="title">Attendance Controller</h1>
        <div class="container-login_data">
            <div class="container-login_items">
                <input type="text" name="" id="user">
            </div>
            <div class="container-login_items">
                <input type="password" name="" id="password">
            </div>
            <div class="container-login_items">
                <button class="login"><a href="./home">Iniciar Sesión</a></button>
            </div>
        </div>
    </form>
</div>
